@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
}


body {
  width: 100dvw;
  height: 100dvh;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #0D0D0D;
  color: rgb(240, 248, 255);
}

nav {
  font-weight: 600;
}

.bg-custom-dark {
  background-color: #1a1a1a;
}

.bg-custom-darker {
  background-color: #121212;
}

.text-custom-orange {
  color: #FF4A04;
}

.bg-custom-orange {
  background-color: #FF4A04;
}

.border-custom-orange {
  border-color: #FF4A04;
}

.nav-active {
  color: #FF4A04;
  font-weight: 600;
}